/*                  */
/* Create Plan Page */
/*                  */

.inputOverlayLabels {
    font-family: 'Roboto', sans-serif;
    color: #5D5D5D;
    font-size: 17.26px;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: 27px;
    margin-top: 15px;
    font-weight: bold;
}

.leftmain {
    padding-left: 170px; /* Supposed to be 70px from the sidebar */
}

#createplan {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 15px;
}

#preflight {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#postflight {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 25px;
    margin-top: -5px;
}

#FetchSB {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15.5px;
    width: 170px;
    height: 32px;
    border: 2px solid #232323;
    border-radius: 25px;
    text-align: center;
    padding-top: 13px;
    margin-left: 333px;
    margin-top: -70px;
    margin-bottom: 20px;
    cursor: pointer;
    position: absolute;
}

.inputType1, .inputType2, .inputType3, .inputType4, .inputType5 { /* Similar properties for all inputTypes */
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17.26px;
    border: 2px solid #232323;
    background-color: transparent;
    border-radius: 25px;
    outline: none;
    font-weight: bold;
    margin-bottom: 25px;
    margin-right: 35px;
}

.inputType1, .inputType2, .inputType3 { /* Similar properties for inputTypes 1 - 3 */
    height: 45px;
    text-indent: 25px;
    text-transform: uppercase;
}

.inputType4, .inputType5 { /* Similar properties for all inputTypes 4 - 5 */
    resize: none;
    padding: 16px 25px 16px 25px;
    width: 450px; /* Deduction from padding of 25px x 2 */
    height: 23px; /* Deduction from padding of 16px x 2 */
}

.inputType1 { /* Half of a row */
    width: 230px;
}

.inputType2 { /* One thirds of a row */
    width: 140px;
}

.inputType3 { /* Two thirds of a row */
    width: 320px;
}

.inputType4 { /* Route */
    text-transform: uppercase;
}

.inputType5 { /* Remarks */

}

::-webkit-input-placeholder {
    text-transform: initial;
}
 
:-moz-placeholder { 
    text-transform: initial;
}
 
::-moz-placeholder {  
    text-transform: initial;
}

:-ms-input-placeholder { 
    text-transform: initial;
}

.rightmain {
    padding-left: 813px; /* Supposed to be 70px from the sidebar */
    margin-top: -947px;
}

#flightdetails {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 15px;
}

#fleettext {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.fleetbox {
    border-radius: 25px;
    border: 2px solid #232323;
    width: 1000px;
    height: 600px;
    margin-left: 27px;
}

#METARtext {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.METARDep {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    padding-top: 13px;
    margin-left: -80px;
    position: absolute;
}

.METARArr {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    padding-top: 13px;
    margin-left: -50px;
    position: absolute;
}

.METARbox {
    border-radius: 25px;
    border: 2px solid #232323;
    width: 775px;
    height: 33px;
    margin-left: 27px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17.26px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 12px;
    /* overflow: auto; */
    overflow-y: auto;
    overflow-x: hidden;
}

.FetchMETAR {
    border-radius: 25px;
    border: 2px solid #232323;
    background-color: #161616;
    width: 160px;
    height: 33px;
    margin-left: 870px;
    margin-top: -80px;
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15.5px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.NewButton {
    border-radius: 25px;
    border: 2px solid #232323;
    background-color: #161616;
    width: 160px;
    height: 33px;
    margin-left: 870px;
    margin-top: -80px;
    padding-top: 13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}