body {
    background-color: #161616;
}

/*                */
/* Side Nav Stuff */
/*                */

.sidenav, #sidenavElement-1 {
    width: 65px;
    position: fixed;
}

.sidenav {
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #161616;
    box-shadow: 5px 0px 10px -5px black;
    z-index: 10;
}

.sidenavImages {
    /* text-align: center; */
    top: 8px;
    margin-top: 15px;
    padding-left: 22px;
}

.sidenavText {
    margin-top: -19px;
    margin-left: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: white;
    opacity: 0;
}

.sidenavElement, #sidenavElement-1 {
    z-index: 1;
}

.sidenavElement {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    cursor: pointer;
}

#sidenavElement-1 {
    bottom: 0;
}

#selectedSidenavElement {
    position: absolute;
    visibility: visible;
    margin-left: 33px;
    margin-top: -300px;
    z-index: -1;
    padding-top: 0px;
}

#highlightedSidenavElement {
    position: absolute;
    opacity: 0;
    margin-left: 33px;
    margin-top: -300px;
    z-index: -1;
}